{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link type="text/css" href="{% static 'Home/css/styles.css' %}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<hr>
<a class='phone_number' href="tel:+7977150-83-72">+7 977 150-83-72</a>
</hr>
<header>
    <div class="logo">
        <a href="{% url 'home' %}"><img src="{% static 'Home/images/gsbw7dygs1wksss4ogggcc4sw8w0kk.webp' %}" alt="Логотип"></a>
    </div>
    <ul class="menu-list">
    {% for i in menu %}
    <li>
        <a href="{% url i.name %}">{{ i.title }}</a>
    </li>
    {% endfor %}
</ul>
    <a class='application_button' href="{% url 'application' %}">{{ 'Оставить заявку' }}</a>
</header>

{% block content %}{% endblock %}

</body>
</html>