body {
    color: brown;
}

.menu-list li{
    float: right;
    display: inline-block;
}

header {
  background-color: #313131;
  border-bottom: 1px solid #ccc;
  padding: 60px;
}

.logo img{
  float: left;
    position: relative;
}
